.header {
  text-align: center;
  border: 2px 0 1px 0 solid black;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
.boxthingy {
  width: 2006px;
  height: 40px;

}

.boxthingy div {
  width: 400px;
  height: 40px;
  border: 2px solid blue;
  background-color: #ccffff;
  float: left;
}

.wrapper2 {
  width: 800px;
  margin: 0 auto;
}

.factbreak {
width: 2000px;
height: 200px;
}

.factbreak div {
float: left;
}

.table {
  margin-top: 40px;
  border: 1px solid black;
  background-color: #D3D3D3;
  margin-left: auto;
  margin-right: auto;
}

.tablecell {
  padding-right: 150px;
  padding-left: 150px;
  border: 1px solid black;
  text-align: center;
}

.tablecellright {
  padding-right: 60px;
  padding-left: 60px;
  border: 1px solid black;
  text-align: center;
}

.center {
  text-align: center;
}

.green-circle {
  float: left;
  border: 1px solid black;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: green;
  text-align: center;
  margin-left: 12%;
}

.purple-box {
  float: left;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  background-color: purple;
  text-align: center;
  margin-left: 12%;
}

.bunny-box {
  float: left;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  background-image: url("https://i.pinimg.com/736x/c3/a6/86/c3a686641de767edf079f342cb0a5672--the-elder-scrolls-skyrim.jpg");
  background-position: center;
  text-align: center;
  margin-left: 12%;
}
